<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Riepilogo Contatori Gas</h2>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center">Tipo tariffa</th>
              <th class="text-center">Numero pezzi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let meter of meters" (click)="clickedRow(meter._id)" class="summary">
              <td>{{ meter._id }}</td>
              <td>{{ meter.numero }}</td>
            </tr>
          </tbody>
        </table>
    </div> <!-- Panel body -->
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    </div> <!-- Panel -->
  </div> <!-- col-xs-8 -->
</div> <!-- row -->