<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Dettaglio Contatori</h2>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center">Livello tariffa</th>
              <th class="text-center">Agente incaricato</th>
              <th class="text-center">Stato contatore</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details">
              <td>{{ detail.livello }}</td>
              <td>{{ detail.incaricato }}</td>
              <td>{{ detail.stato }}</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- Panel body -->
      <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    </div> <!-- Panel -->
    <button (click)="goBack()" class="btn btn-default">
      Back
    </button>
  </div> <!-- col-xs-8 -->
</div> <!-- row -->

