<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">myapp</a>
    </div>
    <!-- On the left side of our navbar we'll display the two links for public and private deals -->
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">Controllo Contatori</a>
      </li>
    </ul>
    <!-- On the right side of our navbar we'll display the login and logout actions depending on user state -->
    <ul class="nav navbar-nav navbar-right">
      <li>
         <a routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn()">Log In</a>
      </li>
      <li>
        <a (click)=authService.logout *ngIf="authService.isLoggedIn()">Log Out</a>
      </li>
    </ul>
  </nav>
  <div class="col-sm-12">
    <!-- The router-outlet directive will display the component based on the route we are on, more on this soon -->
    <router-outlet></router-outlet>
  </div>
</div>
