<div class="row">
  <div class="col-xs-5 col-xs-offset-4" >
    <div class="col-xs-12 title">
      <h1>Login</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="input-field col-xs-12">
          <input [(ngModel)]="email" id="email"
              type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col-xs-12">
          <input [(ngModel)]="password" id="password"
              type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <span>{{errorMsg}}</span>
      <button (click)="onSubmit()"
          class="btn waves-effect waves-light"
          type="submit" name="action">Login
      </button>
    </div>
  </div>
</div>